.chatbot-modal {
  z-index: 1001;
  position: fixed;
  bottom: 100px;
  right: 50px;
  width: 380px;
  height: calc(100% - 215px);
  background-color: #f7f9fc;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.chatbot-modal.show {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 768px) {
  .chatbot-modal {
    width: 100%;
    height: calc(100% - 100px);
    bottom: 5vh;
    right: 0;
    left: 0;
    top: 100px;
    border-radius: 12px;
  }

  .chatbot-modal.show {
    transform: translateY(0);
  }
}