/* Import Google Fonts */
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"); */

.sidebar {
  width: 30%;
  height: 100vh;
  background-color: #f8f9fc;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  /* font-family: "Inter", sans-serif; */
}

.logo-container {
  display: flex;
  align-items: center;
  padding: 20px;
}

.logo-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #ffffff;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}

.logo-text {
  font-size: 1.3em;
  font-weight: 700;
  color: #1e1e2d;
  margin: 0;
}

.menu-title {
  color: #475569;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 10px 20px;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu-item {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  cursor: pointer;
  color: #020617;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 32px;
  margin: 5px 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 208px;
}

.menu-item .icon {
  font-size: 1.2em;
  padding: 0;
  margin-bottom: -5px;
}

.menu-item:hover,
.menu-item.active {
  background-color: #2563EB;
  color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.menu-item.active .icon,
.menu-item:hover .icon {
  color: #ffffff;
}
